
<main id="edit">
    <!-- In case of error, you should display div with class "errorContainer" -->
    <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->
  {{#each errorMessages}}
    <div>
      <div class='errorContainer'>
        <p>{{this}}</p>
      </div>
    </div>
  {{/each}}
    <section id="edit-container">
        <div class="edit-container-info">
            <h1>Edit Game Code Offer</h1>
            <form method="POST">
                <label>Platform:</label>
                <select id="platform" name="platform">
                    <option value="">-------</option>
                    <option value="PC"{{#if isPC}}selected{{/if}}>PC</option>
                    <option value="Nintendo"{{#if isNintendo}}selected{{/if}}>Nintendo</option>
                    <option value="PS4"{{#if isPS4}}selected{{/if}}>PS4</option>
                    <option value="PS5"{{#if isPS5}}selected{{/if}}>PS5</option>
                    <option value="XBOX" {{#if isXbox}}selected{{/if}}>XBOX</option>
                </select>
                <label>Name:</label>
                <input type="text" id="name" name="name" value="{{game.name}}">
                <label>Image:</label>
                <input type="text" id="image" name="image" placeholder="http://..." value="{{game.image}}">
                <label>Price:</label>
                <input type="number" id="price" name="price" value="{{game.price}}">
                <label>Genre:</label>
                <input type="text" id="genre" name="genre" value="{{game.genre}}">
                <label>Description:</label>
                <textarea id="description" name="description">{{game.description}}
                </textarea>
                <input type="submit" id="btn" value="EDIT"></input>
            </form>
        </div>
    </section>
</main>